@page
@model _234351A_Razor.Pages.Error.Error404Model
@{
    Layout = "_Layout";
    ViewData["Title"] = "Page Not Found";
}

<div class="container text-center mt-5">
    <h1 class="display-3 text-danger">404</h1>
    <h3>Oops! The page you are looking for does not exist.</h3>
    <p>It might have been moved or deleted.</p>
    <a href="/" class="btn btn-primary">Return to Homepage</a>
</div>
